{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'quiz/css/style2.css' %}">
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body style="height: 100%;">
        {% block content %} {% endblock content %}
        <a href="https://www.keishicho.metro.tokyo.lg.jp/kotsu/jikoboshi/bicycle/menu/rule.html" class="styled red-button">詳しい自転車マナーはこちら</a>
    </body>
</html>